{% extends 'base.html' %} {% block signin %}

<div class="container" style="height: 70vh; display:flex; justify-content: center; align-items: center;">
    <br>
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title"> <b>Sign In</b> </h5>
            <form action="/signin/" method="POST">
                {% csrf_token %}
                <input type="text" name="username" class="form-control" placeholder="Username">
                <br>
                <input type="password" name="password" class="form-control" placeholder="Password">
                <br>
                <button type="submit" class="btn btn-success">Signin</button>
            </form>
        </div>
    </div>

</div>

{% endblock %}